# ignore backup dir
backup/
# ignore fpc makefiles
Makefile
Makefile.fpc
Makefile.fpcxxx
# ignore build dir
units/
component/lib/
component/indiclient/lib/
component/synapse/source/lib/lib/
component/uniqueinstance/lib/
component/synapse/lib/
/indistarter.app
indistarter.lps
indigui.app/
indigui.lps
# doc
/doc/indistarter.html  
/doc/indistarter.wiki  
# ignore binary
indistarter
indigui
indistarter.dbg
indistarter*.rpm
indistarter*.deb
indistarter*.dmg
indistarter*.tar.xz
indistarter*.tar.bz2
indimac*.tgz
